@media screen and (max-width:768px){
    nav{
        display:flex;
        flex-wrap: wrap;
        justify-content:center;
        text-align:center;
    }
    header,nav{
        width:100%; 
        position:sticky;
        top:0;
    }
    .video, .image{        /*work.html*/
        width: 350px;
    }
}
/*common style*/
footer{
    background-color: rgb(247, 233, 155);
    display:flex!important;
    flex-wrap:wrap;
    flex-direction: column;
    align-items:center;
    justify-content: center!important;
}
header{
    background-color: pink;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
}

main{
    background-color:rgb(202, 238, 220);
}
.logo{
    margin-bottom: 0;
}
a{
    display:inline-block;
    width:80px;
    margin:5px;
    color:purple!important;
    text-decoration: none;  
}
nav a{
    font-size:1.5em;
}
footer a{
    color:blue!important;
}
a:hover{
    background-color: rgb(178, 149, 204)!important;
}
a:active{
    color:rgb(168, 15, 15)!important;
}
p{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

figure{
    margin:0;
    text-align: center;
}


/*end common style*/
#work-section, #about-section{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}
#work-section section{
    margin:15px;
}
/*begining style work.html section*/
.progress{
    width: 80% !important;
    margin: 0 auto;
}
.progressSection{
    width: 100%;
}
.progress div{
    font-size: 1.5em;
    color:rgb(185, 60, 158);
    font-weight:bold;
}
/*ending style work.html section*/

/*About Section*/
#about-section h1{
    margin:35px!important;
    font-variant: small-caps;
}
#about-section img{
    margin:35px 0;

}
/*End About Section*/
/*Resume Section*/
dl{
    margin:0px !important;
}
#resume-section main{
    padding:50px;
}
/*End Resume Section*/